body {
    padding-bottom:0;   

}

.card {
    margin-bottom: 1rem;
    justify-content: center;
}

.row .col {
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.card-title{
    font-size: 1vw;
    text-align: center;
}

.card-text{
    font-size: 1vw;
}

.card-text.card-price{
    font-size: 1.5vw;
}

.card .card-body {
    padding: .5rem;
}

.card-img-top{
    height: 11vw;
    object-fit: cover;
}

.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: .7vw;
    width: 4vw;
    height: 2vw;
    padding: 0 0;
}

.footer {
    background-color:#131921;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}
footer a{
    color: white;
}

.filter {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem #c0c0c0 solid;
    justify-content: space-between;
    font-size: 1.5vw;
}

.filter div{
    flex: 1;
}

.cart.filter{
    text-align: center;
}